{{!-- {{#link-to 'app' app.id tagName='tr' class="app-row echo-link"}}
	<td>{{input type="checkbox" checked=isEditing}}</td>
	<td class="app-name">
		{{#if isEditing}}
			{{input value=app.name class="form-control"}}
		{{else}}
		{{app.name}}
		{{/if}}
	</td>
	<td class="app-description">{{app.description}}</td>
	<td><button class="btn btn-success btn-xs" {{action 'saveApp' bubbles=false}}>Save</button></td>
{{/link-to}} --}}
{{yield this}}