<table class="table table-hover table-condensened">
	<thead>
		<tr>
			<th>Edit</th>
			<th></th>
			<th class="col-sm-4">First Name</th>
			<th class="col-sm-4">Last Name</th>
			<th class="col-sm-4">Email</th>
			<th class="col-sm-4">Username</th>
			<th>Save</th>
		</tr>
	</thead>
	<tbody>

		{{#each this as |user|}}
		<tr class="user-row {{if user.model.isDirty 'info'}}"> 

			<td>{{input type="checkbox" checked=user.isEditing}}</td>
			<td><button class="close delete-user-btn" {{action "deleteUser" user.model}}>&times;</button></td>
			{{#if user.isEditing}}
				<td>{{input value=user.model.firstName class="form-control input-sm"}}</td>
				<td>{{input value=user.model.lastName class="form-control input-sm"}}</td>
				<td>{{input value=user.model.email class="form-control input-sm"}}</td>
				<td>{{input value=user.model.username class="form-control input-sm"}}</td>

			{{else}}
				<td class="user-first-name">{{user.model.firstName}}</td>
				<td class="user-last-name">{{user.model.lastName}}</td>
				<td class="user-email">{{user.model.email}}</td>
				<td class="user-username">{{user.model.username}}</td>
			{{/if}}
			<td><button class="btn btn-sm btn-info" disabled={{user.saveDisabled}} {{action "saveUser" user.model}}>Save</button></td>

			
		</tr>
		{{/each}}
	</tbody>
</table>
